sup_data_clean.json
{
  "name": "sup_data_clean",
  "nodes": [
    {
      "parameters": {
        "formTitle": "upload excel",
        "formDescription": "upload excel",
        "formFields": {
          "values": [
            {
              "fieldLabel": "file",
              "fieldType": "file",
              "acceptFileTypes": ".xlsx"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -416,
        144
      ],
      "id": "1a574646-fc0f-40ec-8a7b-fef5eb72d791",
      "name": "On form submission",
      "webhookId": "3429896d-0990-49e5-b4d8-9fe0fb7a7820"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -192,
        144
      ],
      "id": "f4f724ef-b5e2-4edf-971c-4bbdc5163ff8",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "batchSize": 200,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        64,
        144
      ],
      "id": "d13ff1db-2a0a-474e-91ff-4a2ad046263b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        832,
        144
      ],
      "id": "e574f620-3543-451d-a4bf-2868547addbd"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9c061466-c788-469a-b524-d1ed30e031c7",
              "name": "purchase_group",
              "value": "={{ \n  $json.purchase_group == \"设备及软件采购组\" ? \"sb\" :\n  $json.purchase_group == \"市场及内容采购组\" ? \"sc\" :\n  $json.purchase_group == \"外包及专业服务采购组\" ? \"wb\" :\n  $json.purchase_group == \"工程及行政采购组\" ? \"gc\" :\n  $json.purchase_group == \"all\"\n}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        176
      ],
      "id": "92d7b714-e907-4032-96c5-d28b00ab81f1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/tmp/n8n_do.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "id": "0edb4940-ff64-4a73-8fdf-dc5a12c77139",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        272,
        0
      ],
      "id": "72ce5e9b-66f9-45b7-afd0-87e11a2202b8",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  match item.json.purchase_group :\n    case '设备及软件采购组':\n      item.json.purchase_group = 'sb'\n    case '市场及内容采购组':\n      item.json.purchase_group = 'sc'\n    case '外包及专业服务采购组':\n      item.json.purchase_group = 'wb'\n    case '工程及行政采购组':\n      item.json.purchase_group = 'gc'\n    case _:\n      item.json.purchase_group = 'all'\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "9fe67e1c-3c88-44eb-a901-b1908b87e3a8",
      "name": "Code in Python (Beta)"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "770bb751-2ce6-486a-8fb0-747e43eb2010",
  "meta": {
    "instanceId": "d7c18ee51764ea33894bab84c2e02584e917aac32d2c2e0aa44f266a9f4b842a"
  },
  "id": "1MayqdzlNCgLDr6n",
  "tags": []
}